.description {
  color: #61dbfb;
  margin: 0;
  font-family: "Fira Code";
}
@media (min-width: 1700px) {
  .description {
    font-size: 5rem;
  }
}
@media (min-width: 1500px) {
  .description {
    font-size: 3rem;
  }
}
