.App {
  text-align: center;
  background: #011526;
  overflow-x: hidden;
}
.Project1 {
  color: white;
  font-size: 0.35rem;
}
@media (min-width: 800px) {
  .Project1 {
    font-size: 1rem;
  }
}

.Project2 {
  color: white;

  font-size: 0.35rem;
}
@media (min-width: 800px) {
  .Project2 {
    font-size: 1rem;
  }
}

@media (min-width: 1500px) {
  .Project1 {
    font-size: 1.5rem;
  }
  .Project2 {
    font-size: 1.5rem;
  }
}
